body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;      
    overflow: hidden;
    background-color: lightpink;
}

.valentine-message {
    font-family: 'Parisienne', cursive;
    font-size: 6vw;
    text-align: center;
    color: #e0034d; /* Optional text color */
  }
